{% extends 'base/base.html' %} {% block title %} Registrar {% endblock %} {% block content %}
<link rel="stylesheet" type="text/css" href=https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.min.css>
<div class="modal-body row">
	<div class="col-md-6 animated fadeIn">
		<legend>Utiliza nuestro software para obtener predicciones sobre acciones de cientos de empresas</legend>
		<img class="img-thumbnail" src="/static/img/yahoo.png">
		<div class="caption">
			<p>¡Mas de 1000 Empresas con las cuales calcular valores de Opciones!</p>
		</div>
		<img class="img-thumbnail" src="/static/img/grafico.png">
		<div class="caption">
			<p>¡Puedes obtener los archivos con valores de cierre en :</p>
			<a href="https://finance.yahoo.com/"> Yahoo Finance</a>
		</div>
	</div>
	<div class="col-md-6 animated fadeIn">
		<div class="container-fluid  py-3">
			<div class="row">
				<div class="col-md-12 mx-auto">
					<div class="card card-body">
						<h3 class="text-center mb-4">Registro de Usuario</h3>
						<form method="POST">
							{% csrf_token %}
							<div class="form-group">
								<input class="form-control" type="text" name="username" placeholder="Nombre de usuario" id="para1">
							</div>
							<div class="form-group">
								<input class="form-control" type="text" name="email" placeholder="Correo">
							</div>
							<div class="form-group">
								<input class="form-control" type="password" name="password1" placeholder="Contraseña">
							</div>
							<div class="form-group">
								<input class="form-control" type="password" name="password2" placeholder="Confirmar Contraseña">
							</div>
							<button type="submit" class="btn btn-lg btn-success btn-block">Crear cuenta</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<style type="text/css">
	a {
		color: green;
		text-align: center;
	}

	.form-control:focus {
		border-color: green;
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px gre;
	}
</style>
{% endblock %}﻿