{% extends 'base/base.html'%} {% block title %} Recuperación {% endblock %} {% block content %}
<link rel="stylesheet" type="text/css" href=https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.min.css>
<div class="container-fluid py-3 animated fadeIn">
	<div class="row">
		<div class="col-md-6 mx-auto">
			<div class="card card-body">
				<form method="post">
					{% csrf_token %}
					<h5 class="card-title">Recuperación de contraseña</h5>
					<p class="card-text">Estimado usuario, le enviaremos un correo al email ingresado para reestablecer la contraseña.</p>
					<div class="form-group">
						<input class="form-control" type="email" name="email" id="id_email" placeholder="Email">
					</div>
					<input type="submit" class="btn btn-lg btn-success btn-block" value="Enviar">
				</form>
			</div>
		</div>
	</div>
</div>

<!--style type="text/css">
	@import url('https://fonts.googleapis.com/css?family=Roboto');
	body {
		font-family: 'Roboto', sans-serif;
		background-size: cover;
	}

	.main-section {
		margin: 0 auto;
		margin-top: 90px;
		padding: 0;

	}

	.modal-content {
		background-color: #434e5a;
		padding: 0 18px;
		border-radius: 10px;

	}

	.form-group {
		margin-bottom: 25px;
		margin-top: 20px;
		font-size: 18px;

	}

	.form-group input {
		height: 42px;
		border-radius: 5px;
		border: 0;
		letter-spacing: 2px;
		padding-left: 54px;
	}

	.form-group::before {
		font-family: 'Font Awesome\ 5 Free';
		content: "\f1fa";
		position: absolute;
		font-size: 22px;
		left: 28px;
		padding-top: 4px;
		color: #555e60;
	}


	.form-input button {
		width: 40%;
		margin: 5px 0px 25px;
	}

	.btn-success {
		background-color: #1c6288;
		font-size: 19px;
		border-radius: 5px;
		padding: 7px 14px;
		border: 1px solid #daf1ff;
		margin-bottom: 20px;
	}

	.btn-success:hover {
		background-color: #13445e;
		border: 1px solid #daf1ff;
	}

	p {
		color: #000000;
	}

	h5 {
		color: #000000;
	}
</style>
{% endblock %}﻿