{% extends 'base/base.html'%} {% block title %} Login {% endblock %} {% block content %}
<link rel="stylesheet" type="text/css" href=https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.min.css>
<div class="modal-body row">
    <div class="col-md-6">
        <legend>Utiliza nuestro software para obtener predicciones sobre acciones de cientos de empresas</legend>
        <img class="img-thumbnail" src="http://via.placeholder.com/660x160.png">
        <div class="caption">
            <p>¡Mas de 1000 Empresas con las cuales calcular valores de Opciones!</p>
        </div>
        <img class="img-thumbnail" src="http://via.placeholder.com/660x160.png">
        <div class="caption">
            <p>¡Al registrarte, puedes utilizar tus propios archivos con valores de cierre para el cálculo!</p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="container-fluid py-3">
            <div class="row">
                <div class="col-md-12 mx-auto">
                    <div class="card card-body">
                        <h3 class="text-center mb-4">Ingresar al Sistema</h3>
                        <form method="POST">
                            {% csrf_token%}
                            <div class="form-group">
                                <input type="text" name="username" class="form-control" id='username' placeholder="Nombre de Usuario">
                            </div>
                            <div class="form-group">
                                <input type="password" name="password" class="form-control" id="password" placeholder="Contraseña">
                            </div>
                            <input class="btn btn-lg btn-success btn-block" value="Ingresar" type="submit">
                        </form>
                    </div>
                    <div class="col-12">
                        <a href="{% url 'usuario:registrar' %}"> ¿No tienes Cuenta? Crea una aquí</a>
                    </div>
                    <div class="col-12">
                        <a href="{% url 'password_reset'%}"> Olvidé mi Contraseña</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style type="text/css">
    a {
        color: green;
    }

    .form-control:focus {
        border-color: green;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px gre;
    }

    legend {
        text-align: center;
    }

    p {
        text-align: center;
    }
</style>
{% endblock %}﻿